[submodule "engine/thirdparty/bx"]
	path = engine/thirdparty/bx/bx
	url = https://github.com/bkaradzic/bx
[submodule "engine/thirdparty/bimg"]
	path = engine/thirdparty/bimg/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "engine/thirdparty/bgfx"]
	path = engine/thirdparty/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "engine/thirdparty/sdl"]
	path = engine/thirdparty/sdl/sdl
	url = https://github.com/libsdl-org/SDL
