[submodule "engine/thirdparty/bgfx"]
	path = engine/thirdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "engine/thirdparty/bx"]
	path = engine/thirdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "engine/thirdparty/bimg"]
	path = engine/thirdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "engine/thirdparty/sdl"]
	path = engine/thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
